@define-color txt        #DCD7BA;
@define-color txt-alt    #727169;
@define-color bg   	     #1F1F28;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13.5px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  background-color: transparent;
  color: @txt;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

tooltip {
  background-color: @bg;
  border: none;
}

tooltip label {
  color: @txt;
  padding: 5px;
}

/* LEFT MODULES */
#workspaces {
  background-color: @bg;
  border-radius: 0px;
  padding: 0px 3px 0px 10px;
  margin-right: 5px;
}

#workspaces button {
  padding: 0px;
  margin-right: 7px;
  color: @txt-alt;
}

#workspaces button.active {
  color: @txt;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
  border: none;
}

#tray {
  border-radius: 0px;
  padding: 0px 8px;
  background-color: @bg;
}

/* MIDDLE MODULES */
#clock {
  border-radius: 0px;
  padding: 0px 12px;
  background-color: @bg;
}

/* RIGHT MODULES */

#custom-divider {
  font-size: 12px;
  color: @txt-alt;
  background-color: @bg;
  padding: 0px;
}

#idle_inhibitor {
  background-color: @bg;
  padding: 0px 8px 0px 12px;
  border-radius: 0px;
  font-size: 11px;
}

#bluetooth {
  padding: 0px 12px 0px 10px;
  background-color: @bg;
}

#network {
  padding: 0px 12px 0px 8px;
  background-color: @bg;
}

#wireplumber {
  padding: 0px 10px 0px 8px;
  background-color: @bg;
}

#battery {
  padding: 0px 12px 0px 8px;
  background-color: @bg;
  border-radius: 0px;
}

#custom-power {
  border-radius: 0px;
  padding: 0px 11px 0px 10px;
  margin-left: 5px;
  background-color: @bg;
}
